# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\DSUsers\uidm5619\OneDrive - Continental AG\Personal\Programare\Web.Developer.Bootcamp\PatternProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
